{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/parallax.min.js"></script>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
<link type="text/css" rel="stylesheet" href="/static/css/image-overlay.css" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col hero-section justify-content-center align-items-middle">
    <div class="hero-section" style="background: none;">
      <div class="parallax-window" data-parallax="scroll" data-image-src="https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3BhY2UlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" style="height: 100%;"
        data-z-index="-1">
      </div>
      <div class="text-overlay">
        <h1>Hello Everyone!</h1>
      </div>
    </div>
  </div>
</div>
<div class="mask-bg">
  <div class="row hero-under-banner">
    <div class="col">
      <div class="container" style="max-width: 800px;">
        <div class="row align-items-center mobile-pad" style="min-height: 40px;">
          <div class="col-sm-4 text-pad">
            Avner Chen
          </div>
          <div class="col-sm-4 text-pad">
            avnerechen@gmail.com
          </div>
          <div class="col-sm-4 text-pad">
            Los Angeles, CA
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-content-container" style="margin-top: 40px;">
    <div class="row">
      <div class="col blurb-section">
        <p>I'm a student who is passionate about science, especially that related to astronomy, robotics, and artificial intelligence (AI).</p>
        <p>I believe that these science fields will only become increasingly important as humanity moves into the future, and would like to contribute my knowledge and abilities to further advance the development of these fields. </p>
        <p>I am intrigued by all things science related.</p>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 30px;">
    <div class="row">
      <div class="col section-header">
        <p>Extracurricular Activities:</p>
        <p>Coding Program: HackHighSchool</p>
        <p>Web Development</p>
      </div>
    </div>

    <div class="row">
      <div class="col">

<!--- 

  
  <div class="container section-content">
    <div class="row">
      <div class="col section-content-header">
        Project 1
      </div>
    </div>
    <div class="row">
      <div class="col time-span">
        Aug 2020 - Present
      </div>
    </div>
    <div class="row">
      <div class="col section-content-inner">
        <p>Here is what I did for this project</p>
        <p>Here are some action steps I took</p>
        <ul>
          <li class="main-li">I planned this out</li>
          <li class="sub-li">Step 1</li>
          <li class="sub-li">Step 2</li>
          <li class="main-li">I executed this</li>
        </ul>
      </div>
    </div>
  </div>

  
  <div class="container section-content">
    <div class="row">
      <div class="col section-content-header">
        Project 2
      </div>
    </div>
    <div class="row">
      <div class="col time-span">
        Aug 2019 - Jan 2020
      </div>
    </div>
    <div class="row">
      <div class="col section-content-inner">
        <p>Here is what I did for this project</p>
        <p>Here are some action steps I took</p>
        <ul>
          <li class="main-li">I planned this out</li>
          <li class="sub-li">Step 1</li>
          <li class="sub-li">Step 2</li>
          <li class="main-li">I executed this</li>
        </ul>
      </div>
    </div>
  </div>


</div>
</div>
</div>

<div class="container page-content-container" style="margin-top: 20px;">
<div class="row">
<div class="col section-header">
  Projects
</div>
</div>

<div class="row">
<div class="col">

  
  <div class="container section-content">
    <div class="row">
      <div class="col section-content-header">
        Project 1
      </div>
    </div>
    <div class="row">
      <div class="col time-span">
        Aug 2020 - Present
      </div>
    </div>
    <div class="row">
      <div class="col section-content-inner">
        <p>Here is what I did for this project</p>
        <p>Here are some action steps I took</p>
        <ul>
          <li class="main-li">I planned this out</li>
          <li class="sub-li">Step 1</li>
          <li class="sub-li">Step 2</li>
          <li class="main-li">I executed this</li>
        </ul>
      </div>
    </div>
  </div>

  
  <div class="container section-content">
    <div class="row">
      <div class="col section-content-header">
        Project 2
      </div>
    </div>
    <div class="row">
      <div class="col time-span">
        Aug 2019 - Jan 2020
      </div>
    </div>
    <div class="row">
      <div class="col section-content-inner">
        <p>Here is what I did for this project</p>
        <p>Here are some action steps I took</p>
        <ul>
          <li class="main-li">I planned this out</li>
          <li class="sub-li">Step 1</li>
          <li class="sub-li">Step 2</li>
          <li class="main-li">I executed this</li>
        </ul>
      </div>
    </div>
  </div>

  
  <div class="container section-content">
    <div class="row">
      <div class="col section-content-header">
        Project 3
      </div>
    </div>
    <div class="row">
      <div class="col time-span">
        Sept 2018 - June 2019
      </div>
    </div>
    <div class="row">
      <div class="col section-content-inner">
        <p>Here is what I did for this project</p>
        <p>Here are some action steps I took</p>
        <ul>
          <li class="main-li">I planned this out</li>
          <li class="sub-li">Step 1</li>
          <li class="sub-li">Step 2</li>
          <li class="main-li">I executed this</li>
        </ul>
      </div>
    </div>
  </div>

</div>
</div>
</div>

<div class="container page-content-container" style="margin-top: 20px;">
<div class="row">
<div class="col section-header">
  Awards / Honors / Certifications
</div>
</div>

<div class="row">
<div class="col">

  
  <div class="container section-content">

    <div class="row">
      <div class="col section-content-header">
        Award 1
      </div>
    </div>
    <div class="row">
      <div class="col time-span award-space-bottom">
        From this org
      </div>
    </div>

    <div class="row">
      <div class="col section-content-header">
        Certification
      </div>
    </div>
    <div class="row">
      <div class="col time-span award-space-bottom">
        What this certification is about
      </div>
    </div>

    <div class="row">
      <div class="col section-content-header">
        Honor
      </div>
    </div>
    <div class="row">
      <div class="col time-span award-space-bottom">
        Here's what I did
      </div>
    </div>

  </div>

-->  

<div class="row" style="margin-top: 100px;">
<div class="col-lg-4">
<div class="overlay-container">
  <div class="overlay-content">
    <div class="content-overlay"></div>
    <div class="overlay-content-image-container">
      <img class="overlay-content-image" src="https://images.newscientist.com/wp-content/uploads/2021/04/21160754/21-april_pepper-the-robot.jpg">
    </div>
    <div class="content-details fadeIn-bottom">
      <h3 class="content-title">Robot</h3>
      <p class="content-text"></p>
    </div>
  </div>
</div>

<div class="col-lg-4">
<div class="overlay-container">
  <div class="overlay-content">
    <div class="content-overlay"></div>
    <div class="overlay-content-image-container">
      <img class="overlay-content-image" src="https://i.ytimg.com/vi/jjrLeE9Ip7Q/maxresdefault.jpg">
    </div>
    <div class="content-details fadeIn-bottom">
      <h3 class="content-title">Laser Hockey from Wii Play</h3>
      <p class="content-text">Wii Play, A Video Game</p>
    </div>
  </div>
</div>

</div>
<div class="col-lg-4">
<div class="overlay-container">
  <div class="overlay-content">
    <div class="content-overlay"></div>
    <div class="overlay-content-image-container">
      <img class="overlay-content-image" src="/static/img/interest-3.jpg">
    </div>
    <div class="content-details fadeIn-bottom">
      <h3 class="content-title">This is a title</h3>
      <p class="content-text">This is a short description</p>
    </div>
  </div>
</div>
</div>
</div>

</div>
{% endblock %}

{% block footer %}
<div class="footer-container">
  <div class="container page-content-container">
    <div class="row">
      <div class="col-sm-6 contact-me-text">
        Contact Me
      </div>
      <div class="col-sm-6 contact-icons">
        <!---
        <div>
          <img src="/static/img/contact-icons/gmail.png">
          <span class="contact-info">avnerechen@gmail.com</span>
        </div>
         --->
        <div>
          <a href="https://www.youtube.com/">
            <img src="https://i.pinimg.com/originals/7d/c9/93/7dc993c70d4adba215b87cafdc59d82d.png">
            <span class="contact-info">ApolloStar39</span>
          </a>
        </div>
           <!---
        <div>
          <a href="https://www.instagram.com/">
            <img src="/static/img/contact-icons/insta.jpg">
            <span class="contact-info">@apollostar39</span>
          </a>
        </div>
           -->
        <div>
          <a href="https://github.com/">
            <img src="/static/img/contact-icons/github.png">
            <span class="contact-info">github.com/Avner386</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
